.DetailedProduct{
  background: black;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .landing{
    margin-top: 8rem;
    padding-left: 10rem;
    padding-right: 10rem;
    .sub-title {
      font-size: 1rem;
      font-family: Montserrat;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }
    h1{
      margin-bottom: 1.2rem;
      margin-top: 0.8rem;
      font-family: Montserrat;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #ffffff;
      @media (max-width: 768px) {
        font-size: 1.2rem;
      }
    }
    .tag-list{
      .tag{
        font-family: Montserrat;
        font-size: 1rem;
        color:#01ACF2;
        font-weight: 300;
        margin-right: 0.4rem;

        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
      }
    }
    .details{
      margin-bottom: 30px;
      h3{
        font-family: "Montserrat";
        font-size: 1rem;
        margin-bottom: 1rem;

        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #ffffff;
      }
      p{
        margin-bottom: 0;
        font-size: 1rem;
        white-space: pre-line;

        font-family: "Open Sans";
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #ffffff;
      }
    }
    .image-gallery {
      position: sticky;
      top: 0;
    }
    @media (max-width: 798px) {
      margin-top: 10vh;
      padding-left: 2rem;
      padding-right: 2rem;
      .image-gallery {
        position: unset;
        width: auto;
        height: auto;
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  ul {
    list-style: none;
  }

  .thumbnails {
    display: flex;
    line-height: 0;
    padding: 0;

    li {
      width: 5rem;
      height: 5rem;
    }

    a {
      width: 100%;
      height: 100%;
      display: block;
      opacity: .5;
      transition: .5s;
      &:hover {
        opacity: 1;
      }
    }

    img {
      padding: 5px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .slides {
    overflow: hidden;
    width: 100%;
    height: 20rem;
    padding: 0;
    position: relative;
    margin-bottom: 2rem;

    li {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 1;
      transition: .5s;
    }

    img {
      height: 100%;
      width:100%;
      object-fit: contain;
      object-position: center;
    }
  }

  .slides li:target,
  .slides li:focus {
    z-index: 3;
    opacity: 1;
    -webkit-animation: slide 1s 1;
  }


  .slides li:not(:target) {

    -webkit-animation: hidden 1s 1;
  }

  @keyframes slide {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

  @keyframes hidden {
    0% {
      z-index: 2;
    }
    100% {
      z-index: 2;
    }
  }
}